html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Gentium Book Plus", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.squared {
  background-color: rgb(174, 174, 174);
  border: 2px solid salmon;
}
.zoom:hover {
  transform: scale(1.2);
  transition: transform 0.7s;
}
